.currency-calculator-box {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  max-width: 250px;
  border: 1px solid green;
  background-color: aliceblue;
  text-align: center;
}

.currency-calculator-box > * {
  margin: auto;
  flex: 1;
}

.currency-calculator-header > h2 {
  margin: auto;
}
.currency-calculator-box > button {
  color: yellow;
}
.counter-box {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.counter-box > * {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 0;
}

.counter-box > * > * {
  margin: 0;
}

.counter-box-value > h4 {
  background: red;
  margin: auto;
  max-width: 50%;
  background: white;
  border: 1px solid rgb(155, 18, 209);
}

.counter-buttons-box {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.counter-buttons-box > * {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 1;
}

.dropdown-box > * {
  margin: 2px;
}

.dropdown-box > * > * {
  margin: 2px;
}

.result-box {
  margin: 2px;
}
.result-box > h2 {
  margin: auto;
  max-width: 80%;
  background: white;
  border: 1px solid black;
}
