.App {
  text-align: center;
}



.currency-calculator-box {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  max-width: 250px;
  border: 1px solid green;
  background-color: aliceblue;
}

.currency-calculator-box > * {
  margin: auto;
  flex: 1;
  /* border: 1px solid black; */
  
}

.currency-calculator-header > h2{
  margin: auto;
 }
.currency-calculator-box > button {
  color: yellow;
}
.counter-box {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  /* border: 1px solid red; */
}

.counter-box > * {
  /* border: 1px solid blue; */
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 0;
}

.counter-box > * > *{
    margin: 0;
}

.counter-box-value > h4 {
  background: red;
  margin: auto;
  max-width: 50%;
  background: white;
  border: 1px solid black;
}



.counter-buttons-box{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  /* background: #000; */
}

.counter-buttons-box > * {
  /* flex: 1; */
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 1;
}

.dropdown-box > * {
  margin: 2px;
}

.dropdown-box > * > * {
  margin: 2px;
}

.result-box {
  margin: 2px;
}
.result-box > h2 {
  
  margin: auto;
  max-width: 80%;
  background: white;
  border: 1px solid black;
 
}
/* .result-box{
  background: red;
  width: 20%;
} */




/* .counter-box{
  background: green;
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}

.counter-box > button {
  color: red;
  width: 40%;
  align-self:flex-start;
}

.counter-box > p {
  color: blue;
  width: 20%;
}

.dropdown-box{
  background: yellow;
  width: 60%;
  align-self: center;
  

} */



/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

