.App {
  text-align: center;
}

.result-box{
  background: red;
  /* width: 100% */
}
.counter-box{
  background: green;
}
.dropdown-box{
  background: yellow;
}
.currency-calculator-box {
  background: blue;
  display: flex;
}
.currency-calculator-box > div {
  width: 100%;
}

/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

